*{
    padding: 0px;
    margin: 0px;
}

// @font-face {
//     font-family: "montserrat-light";
//     font-style: normal;
//     font-weight: 300;
//     font-display: swap;
//     src: local("Awesome Font"),
//         url("/fonts/Montserrat-light.woff2") format("truetype");
// }

// @font-face {
//     font-family: "montserrat-regular";
//     font-style: normal;
//     font-weight: 300;
//     font-display: swap;
//     src: local("Awesome Font"),
//         url("/fonts/Montserrat-Regular.woff2") format("truetype");
// }

// @font-face {
//     font-family: "montserrat-medium";
//     font-style: bold;
//     font-weight: 400;
//     font-display: swap;
//     src: local("Awesome Font"),
//         url("/fonts/Montserrat-Medium.woff2") format("woff2"),
//         url("/fonts/Montserrat-Medium.ttf") format("truetype");
// }

// @font-face {
//     font-family: "montserrat-bold";
//     font-style: bold;
//     font-weight: 700;
//     font-display: swap;
//     src: local("Awesome Font"),
//         url("/fonts/Montserrat-Bold.woff2") format("woff2"),
//         url("/fonts/Montserrat-Bold.ttf") format("truetype");
// }

// @font-face {
//     font-family: "montserrat-extra-bold";
//     font-style: bold;
//     font-weight: 900;
//     font-display: swap;
//     src: local("Awesome Font"),
//         url("/fonts/Montserrat-ExtraBold.woff2") format("woff2"),
//         url("/fonts/Montserrat-ExtraBold.ttf") format("truetype");
// }

@import "variables.less";


.red-button{
    width: 180px;
    background-color: @red;
    display: flex;
    height: 45px;
    color: #fff;
    font-family: @MontRegular;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease-in-out;

    &:hover{
        background-color: @blue;
        transition: all .3s ease-in-out;
    }
}

.blue-button{
    display: block;
    background-color: @blue;
    height: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: @MontRegular;
    width: 190px;
    border-radius: 50px;
    margin-top: 40px;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease-in-out;

    &:hover{
        background-color: @red;
        transition: all .3s ease-in-out;
    }
}

.site-heading{
    text-align: center;
    font-size: 35px;
    color: @blue;
    font-family: @MontMedium;
    position: relative;

    &:after{
        content: '';
        width: 120px;
        height: 3px;
        background-color: @red;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.red-text{
    color: @red;
}

.blue-text{
    color: @blue;
}

.white-text{
    color: #fff;
}


.whatsapp-button{
    width: 72px;
    height: 72px;
    position: fixed;
    bottom: 50px;
    right: 70px;
    background-color: #cdcdcd;
    z-index: 3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease-in-out;

    img{
        transition: all .3s ease-in-out;
    }

    &:hover{
        img{
            transform: rotate(270deg);
            transition: all .3s ease-in-out;
        }
    }

    @media(max-width: 500px){
        right: 24px;
    }
}

// bottom section before footer
.bottom-container{
    width: 100%;
    height: 545px;
    background-color: #E4EEF4;
    overflow: hidden;

    @media(max-width: 500px){
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .description-container{
        display: flex;
        position: relative;
        height: 100%;
        justify-content: space-between;

        @media(max-width: 768px){
            justify-content: center;
        }

        .descript-block{
            margin-top: 180px;

            @media(max-width: 768px){
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 30px;
                margin-bottom: 30px;
            }

            p{
                font-size: 37px;
                font-family: @MontBold;
                width: 527px;

                @media(max-width: 768px){
                    width: 95%;
                    font-size: 32px;
                }
            }

            .action-btn{
                display: block;
                background-color: @blue;
                height: 45px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-family: @MontRegular;
                width: 190px;
                border-radius: 50px;
                margin-top: 40px;
                cursor: pointer;
                text-decoration: none;
            }
        }

        .doct-image-container{
            margin-top: -33px;

            @media(max-width: 768px){
                display: none;
            }
        }
    }
}


.cutom-centered-block{
    width: 1035px;
    position: relative;
    margin: 0px auto;

    @media(max-width: 1040px){
        width: 90%;
    }
}

// Internal banner container
.internal-header-banner{
    height: 267px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    overflow: hidden;

    @media(max-width: 768px){
        margin-top: 110px;

    }

    .internal-mini-header{
        font-size: 16px;
        color: #fff;
        font-family: @MontRegular;
        margin-bottom: 15px;
    }

    .internal-header{
        font-size: 40px;
        color: #fff;
        font-family: @MontBold;
    }
}
